@import "variables";
form {
	label {
		display: block;
		font-weight: bolder;
	}
	input,
	select,
	button {
		appearance: none;
		background: white;
		border-radius: 4px;
		border: 1px solid $gray;
		font-size: 1rem;
		outline: none;
		padding: 4px 8px;
		&:focus {
			border: 1px solid $blue;
		}
	}
	input,
	select {
		box-shadow: inset $shadow;
		margin-top: 0.5em;
		max-width: 100%;
		width: 100%;
	}
	button {
		box-shadow: $shadow;
		margin-right: 8px;
		&:active {
			box-shadow: none;
			position: relative;
			left: 1px;
			top: 2px;
		}
	}
	input+p,
	select+p {
		font-size: 0.7rem;
		margin-top: 0.5em;
	}
}
