label {
	display: block;
	font-weight: bolder;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button {
	appearance: none;
	background: white;
	border-radius: 0.25em;
	border: 1px solid $gray;
	font-size: 1rem;
	outline: none;
	padding: 0.25em;
	&:focus {
		border: 1px solid $blue;
	}
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
	box-shadow: inset $shadow;
	margin-top: 0.5em;
	max-width: 100%;
	width: 100%;
	&+small {
		font-size: 0.7rem;
		margin-top: 0.5em;
		display: block;
	}
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	top: 0.05em;
	&+label {
		margin-left: 0.25em;
		display: inline;
		font-weight: normal;
		&+small {
			font-size: 0.7rem;
			margin-top: 0.5em;
			display: block;
		}
	}
}

button {
	box-shadow: $shadow;
	margin-right: 0.5em;
	&:active {
		box-shadow: none;
		position: relative;
		left: 1px;
		top: 2px;
	}
}
