label {
	display: block;
	font-weight: bolder;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="submit"]):not([type="reset"]):not([type="button"]),
select,
textarea {
	background: white;
	border-radius: 0.25em;
	border: 1px solid $gray;
	font-size: 1rem;
	outline: none;
	padding: 0.25em 0.5em;
	height: 2em;
	&::placeholder {
		color: $gray;
	}
	&:focus {
		border: 1px solid $light-blue;
	}
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="button"]),
select,
textarea {
	margin-top: 0.5em;
	max-width: 100%;
	width: 100%;
	&:not([type="range"]) {
		box-shadow: inset $shadow;
	}
	&+small {
		font-size: 0.7rem;
		margin-top: 0.5em;
		display: block;
	}
	.validating & {
		&:invalid {
			border: 1px solid $light-red;
		}
		&:valid {
			border: 1px solid $light-green;
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	&+label {
		margin-left: 0.25em;
		display: inline;
		font-weight: normal;
		&+small {
			font-size: 0.7rem;
			margin-top: 0.5em;
			display: block;
		}
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-size: .85em;
	padding: .6em 1.2em;
	margin: 0;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
	&:hover {
		box-shadow: 0 2px 20px rgba(0, 0, 0, .33);
	}
	&.glow {
		box-shadow: 0 2px 20px rgba(57, 106, 252, .5);
		&:hover {
			box-shadow: 0 2px 20px rgba(57, 106, 252, .75);
		}
	}
	&.hero {
		font-size: 1em;
		padding: 1em 2em;
	}

	color: $primary-light;
	background-color: white;
	box-shadow: inset 0 0 0 1px $primary-light, 0 2px 20px rgba(0, 0, 0, .15);
	
	&:hover {
		color: white;
		background: linear-gradient(to right, $primary-light, $secondary-light);
		box-shadow: 0 2px 20px rgba(0, 0, 0, .33);
	}

	&[type="submit"] {
		background: $secondary;
		background: linear-gradient(to right, $primary, $secondary);
		color: white;
		&:hover {
			background: linear-gradient(to right, $primary-dark, $secondary-dark);
			background: linear-gradient(to right, $primary-light, $secondary-light);
			background: linear-gradient(to right, $primary, $primary);
		}
	}
}
