label {
	display: block;
	font-weight: bolder;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
select,
textarea,
button {
	background: white;
	border-radius: 0.25em;
	border: 1px solid $gray;
	font-size: 1rem;
	outline: none;
	padding: 0.25em 0.5em;
	height: 2em;
	&::placeholder {
		color: $gray;
	}
	&:focus {
		border: 1px solid $light-blue;
	}
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="button"]),
select,
textarea {
	margin-top: 0.5em;
	max-width: 100%;
	width: 100%;
	&:not([type="range"]) {
		box-shadow: inset $shadow;
	}
	&+small {
		font-size: 0.7rem;
		margin-top: 0.5em;
		display: block;
	}
	.validating & {
		&:invalid {
			border: 1px solid $light-red;
		}
		&:valid {
			border: 1px solid $light-green;
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	&+label {
		margin-left: 0.25em;
		display: inline;
		font-weight: normal;
		&+small {
			font-size: 0.7rem;
			margin-top: 0.5em;
			display: block;
		}
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	box-shadow: $shadow;
	margin-right: 0.5em;
	&[type="submit"] {
		color: $light-blue;
	}
	&:active {
		box-shadow: none;
		position: relative;
		left: 1px;
		top: 2px;
	}
}
