.bg-black {
	background-color: $black;
	color: white;
}
.bg-blue {
	background-color: $blue;
	color: white;
}
.bg-dark-blue {
	background-color: $dark-blue;
	color: white;
}
.bg-light-blue {
	background-color: $light-blue;
	color: white;
}
.bg-light-blue-2 {
	background-color: $light-blue-2;
}
