// Colors
$black: #222 !default;
$blue: #0066ff;

//Test
$dark-blue: #0F619B; // Or #0C2AE8?
$light-blue: #0C9EE8;
$light-blue-2: #0DEDFF;

// Fonts
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$render-mode: optimizeLegibility !default;

$font-size: 16px !default;
$font-size-base: 1rem !default;
$font-size-h1: 4rem !default;
$font-size-h2: 3.5rem !default;
$font-size-h3: 3rem !default;
$font-size-h4: 2.5rem !default;
$font-size-h5: 2rem !default;
$font-size-h6: 1.5rem !default;

$body-background: #fff !default;
