// Colors
$black: #222 !default;
$blue: #4431ff !default;
$gray: #ccc !default;

//Test
$dark-blue: #0F619B !default; // Or #0C2AE8?
$light-blue: #0C9EE8 !default;
$light-blue-2: #0DEDFF !default;

$light-red: #E80C9E !default;
$light-green: #0CE89E !default;

$shadow: 0px 1px 2px rgba(10, 10, 10, 0.1) !default;

// Fonts
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$render-mode: optimizeLegibility !default;

$font-size: calc(.75em + .75vw) !default;
$font-size-base: 1rem !default;
$font-size-h1: 3.5em !default;
$font-size-h2: 2.92em !default;
$font-size-h3: 2.43em !default;
$font-size-h4: 2.025em !default;
$font-size-h5: 1.69em !default;
$font-size-h6: 1.4em !default;

$body-background: #fff !default;

// Grid
$breakpoints: (
	xs: 0px,
	sm: 500px,
	md: 750px,
	lg: 1000px,
	xl: 1250px,
) !default;

$columns: 12 !default;
$gutter: 1rem !default;

$simple: calc(.75rem + 2vw) !default;