@import "variables";
html {
	background-color: $body-background;
	font-size: $font-size-base;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: $render-mode;
	height: 100%;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

body *+* {
	margin-top: 1rem;
}

body {
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $family-sans-serif;
	font-size: $font-size;
	line-height: 1.33;
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

main {
	flex: 1 0 auto;
}

footer {
	background-color: $gray;
}

b,
strong {
	font-weight: bold;
}

pre {
	background: white;
	border-radius: 0.25em;
	border: 1px solid $gray;
	box-shadow: inset $shadow;
	overflow: scroll;
}

.padding {
	padding: $gutter;
}

.margin {
	margin: $gutter;
}

nav.simple-nav {
	background-color: #fff;
	bottom: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 -2px 5px rgba(0,0,0,.26);
	height: 4rem;
	display: flex;
	align-items: stretch;
	z-index: 1010;
	a {
		color: $black;
		align-items: center;
		display: flex;
		height: 100%;
		margin: 0;
		padding-left: 1em;
		padding-right: 1em;
		font-weight: 500;
		border-top: 3px solid transparent;
		&.active {
			border-top: 3px solid $black;
		}
	}
}

button {
	display: inline-block;
	font-size: .85em;
	padding: .6em 1.2em;
	margin: 0;
	color: white;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
	&:hover {
		box-shadow: 0 2px 20px rgba(0, 0, 0, .33);
	}
	&.glow {
		box-shadow: 0 2px 20px rgba(57, 106, 252, .5);
		&:hover {
			box-shadow: 0 2px 20px rgba(57, 106, 252, .75);
		}
	}
	&.hero {
		font-size: 1em;
		padding: 1em 2em;
	}
}

button.primary {
	background: $secondary;
	background: linear-gradient(to right, $primary, $secondary);
	&:hover {
		background: linear-gradient(to right, $primary-dark, $secondary-dark);
		background: linear-gradient(to right, $primary-light, $secondary-light);
		background: linear-gradient(to right, $primary, $primary);
	}
}

button.primary-outline {
	color: $primary-light;
	background-color: white;
	box-shadow: inset 0 0 0 1px $primary-light, 0 2px 20px rgba(0, 0, 0, .15);
	
	&:hover {
		color: white;
		background: linear-gradient(to right, $primary-light, $secondary-light);
		box-shadow: 0 2px 20px rgba(0, 0, 0, .33);
	}
}

button.secondary {
	background: $secondary-light;
	background: linear-gradient(to right, $primary-light, $secondary-light);
}

button.secondary-outline {
	padding: calc(.6em - 1px) calc(1.2em - 1px);
	color: $primary-light;
	background-color: white;
	border: 1px solid $primary-light;
	&:hover {
		color: white;
		background: $secondary;
		background: linear-gradient(to right, $primary-light, $secondary-light);
		border-color: transparent;
	}
}

button.angry {
	background: $secondary-dark;
	background: linear-gradient(to right, $primary-dark, $secondary-dark);
	border-radius: 0;
	text-decoration: underline;
}

button.angry-outline {
	padding: calc(.6em - 1px) calc(1.2em - 1px);
	color: $primary-dark;
	background-color: white;
	border: 1px solid $primary-dark;
	border-radius: 0;
	text-decoration: underline;
	&:hover {
		color: white;
		background: $secondary;
		background: linear-gradient(to right, $primary-dark, $secondary-dark);
		border-color: transparent;
	}
}

@import "utilities";
@import "grid/grid";
@import "form";


/**
* Specific
**/

.hero-section {
	p:first-of-type {
		font-size: 1.4em;
	}
	p {
		max-width: 30em;
	}
	button {
		margin-top: 2em;
	}
	img {
		height: auto;
		max-width: 100%;
	}
}

.hp-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
	overflow: hidden;
	transform: skewY(-8deg);
	transform-origin: 0;
	background: linear-gradient(to right, $primary-light, $secondary);
	box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
	&.under {
		height: 50%;
		transform: skewY(4deg);
		z-index: -1;
		background: linear-gradient(to right, $primary-dark, $secondary-dark);
	}
}
.hp-cont {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	img {
		margin-right: 5rem;
		width: 10rem;
	}
	div {
		margin-top: 0;
	}
}