@import "variables";

html {
    background-color: $body-background;
    font-size: $font-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: $render-mode;
}

body {
    font-family: $family-sans-serif;
    color: $black;
}

h1 {
    font-size: $font-size-h1;
}
h2 {
    font-size: $font-size-h2;
}
h3 {
    font-size: $font-size-h3;
}
h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}
h6 {
    font-size: $font-size-h6;
}

:fullscreen a {
    display: flex
}
