@import "variables";
html {
	background-color: $body-background;
	font-size: $font-size-base;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: $render-mode;
	height: 100%;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

body *+* {
	margin-top: 1rem;
}

body {
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $family-sans-serif;
	font-size: $font-size;
	line-height: 1.33;
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

main {
	flex: 1 0 auto;
}

footer {
	background-color: $gray;
}

b,
strong {
	font-weight: bold;
}

pre {
	background: white;
	border-radius: 0.25em;
	border: 1px solid $gray;
	box-shadow: inset $shadow;
	overflow: scroll;
}

.padding {
	padding: $gutter;
}

.margin {
	margin: $gutter;
}

nav.simple-nav {
	background-color: #fff;
	bottom: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 -2px 5px rgba(0,0,0,.26);
	height: 4rem;
	display: flex;
	align-items: stretch;
	z-index: 1010;
	a {
		color: $black;
		align-items: center;
		display: flex;
		height: 100%;
		margin: 0;
		padding-left: 1em;
		padding-right: 1em;
		font-weight: 500;
		border-top: 3px solid transparent;
		&.active {
			border-top: 3px solid $black;
		}
	}
}

button {
	display: inline-block;
	font-size: .85em;
	padding: .6em 1.2em;
	margin: 0;
	color: white;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .15);
	&:hover {
		box-shadow: 0 2px 20px rgba(0, 0, 0, .33);
	}
	&.glow {
		box-shadow: 0 2px 20px rgba(57, 106, 252, .5);
		&:hover {
			box-shadow: 0 2px 20px rgba(57, 106, 252, .75);
		}
	}
}

button.primary {
	background: #396afc;
	background: linear-gradient(to right, #2948ff, #396afc);
	&:hover {
		
	}
}

button.primary-outline {
	padding: calc(.6em - 1px) calc(1.2em - 1px);
	color: #2948ff;
	background-color: white;
	border: 1px solid #2948ff;
	&:hover {
		color: white;
		background: #396afc;
		background: linear-gradient(to right, #2948ff, #396afc);
		border-color: transparent;
	}
}

button.secondary {
	background: #7d98ff;
	background: linear-gradient(to right, #7874ff, #7d98ff);
}

button.secondary-outline {
	padding: calc(.6em - 1px) calc(1.2em - 1px);
	color: #7874ff;
	background-color: white;
	border: 1px solid #7874ff;
	&:hover {
		color: white;
		background: #396afc;
		background: linear-gradient(to right, #7874ff, #7d98ff);
		border-color: transparent;
	}
}

button.angry {
	background: #0040c8;
	background: linear-gradient(to right, #001fca, #0040c8);
	border-radius: 0;
	text-decoration: underline;
}

button.angry-outline {
	padding: calc(.6em - 1px) calc(1.2em - 1px);
	color: #001fca;
	background-color: white;
	border: 1px solid #001fca;
	border-radius: 0;
	text-decoration: underline;
	&:hover {
		color: white;
		background: #396afc;
		background: linear-gradient(to right, #001fca, #0040c8);
		border-color: transparent;
	}
}

@import "utilities";
@import "grid/grid";
@import "form";
