<form>
	<label for="username">Username</label>
	<input id="username" type="email" name="username" placeholder="you@whatever.com" required />
	<small>this is the help text</small>

	<label for="password">Password</label>
	<input id="password" type="password" name="password" placeholder="hunter2" required />
	<small>this is the help text. <a href="http://bash.org/?244321">what</a></small>
	<br>
	<button type="submit" onclick="this.parentElement.classList.add('validating')">Log In</button>
	<a href="/funke">Cancel</a>
</form>
