<form>
	<label for="file">file</label>
	<input id="file" type="file" name="file" required />
	<small>this is the help file</small>

	<label for="number">number</label>
	<input id="number" type="number" name="number" required />
	<small>this is the help number</small>

	<label for="range">range</label>
	<input id="range" type="range" name="range" required />
	<small>this is the help range</small>

	<label for="search">search</label>
	<input id="search" type="search" name="search" required />
	<small>this is the help search</small>

	<label for="url">url</label>
	<input id="url" type="url" name="url" required />
	<small>this is the help url</small>

	<label for="color">color</label>
	<input id="color" type="color" name="color" required />
	<small>this is the help color</small>

	<button type="submit" onclick="this.parentElement.classList.add('validating')">Log In</button>
	<button type="reset">Reset</button>
	<button type="button">Button</button>
	<a href="/funke">Cancel</a>
</form>
