html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1 {
  color: red; }

:-webkit-full-screen a {
  display: flex; }

:-moz-full-screen a {
  display: flex; }

:-ms-fullscreen a {
  display: -ms-flexbox;
  display: flex; }

:fullscreen a {
  display: -ms-flexbox;
  display: flex; }
