{{> partials/header.html}}

<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">

					<h1>Funke Forms!</h1>
					<p>An awesome framework by Henrik and Pontus</p>

					<form>
						<h2>Log In</h2>

						<label for="username">Username</label>
						<input id="username" type="email" name="username" required />
						<small>this is the help text</small>

						<label for="password">Password</label>
						<input id="password" type="password" name="password" required />
						<small>this is the help text</small>

						<button>Log In</button>
						<a href="/">Cancel</a>
					</form>

					<form>
						<h2>Kitchen Sink</h2>

						<label for="text">text</label>
						<input id="text" type="text" name="text" required />
						<small>this is the help text</small>

						<label for="email">email</label>
						<input id="email" type="email" name="email" required />
						<small>this is the help email</small>

						<label for="date">date</label>
						<input id="date" type="date" name="date" required />
						<small>this is the help date</small>

						<label for="select">select</label>
						<select name="select" id="select">
							<option value="default">default value</option>
							<option value="other">other value</option>
						</select>
						<small>this is the help text</small>

						<label for="textarea">textarea</label>
						<textarea name="textarea" id="textarea"></textarea>
						<small>this is the help text</small>

						<label>Checkboxes</label>
						<input type="checkbox" id="checkbox1" name="checkbox1"><label for="checkbox1">Check it!</label>
						<small>this is the help text</small>

						<input type="checkbox" id="checkbox2" name="checkbox2"><label for="checkbox2">Check it!</label>
						<small>this is the help text</small>

						<input type="checkbox" id="checkbox3" name="checkbox3"><label for="checkbox3">Check it!</label>
						<small>this is the help text</small>

						<label>Radios</label>
						<input type="radio" id="radio1" name="radio"><label for="radio1">Check it!</label>
						<small>this is the help text</small>

						<input type="radio" id="radio2" name="radio"><label for="radio2">Check it!</label>
						<small>this is the help text</small>

						<input type="radio" id="radio3" name="radio"><label for="radio3">Check it!</label>
						<small>this is the help text</small>

					</form>
				</div>
			</div>
		</div>
	</section>
</main>

{{> partials/footer.html}}
