{{> partials/header.html}}

<main>
	{{> partials/example.html}}
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Happy Forms!</h1>
					<p>A happy framework by Henrik and Pontus</p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h2>Example: Log In</h2>
				</div>
			</div>

			<div class="row">
				<div class="col is-6-on-lg">
					<pre><code class="html">{{> forms/login.html}}</code></pre>
				</div>
				<div class="col is-6-on-lg">
					{{> forms/login.html}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h2>Kitchen Sink</h2>
				</div>
			</div>

			<div class="row">
				<div class="col is-6-on-lg">
					<pre><code class="html">{{> forms/kitchensink.html}}</code></pre>
				</div>
				<div class="col is-6-on-lg">
					{{> forms/kitchensink.html}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h2>Weirdos</h2>
				</div>
			</div>

			<div class="row">
				<div class="col is-6-on-lg">
					<pre><code class="html">{{> forms/weirdos.html}}</code></pre>
				</div>
				<div class="col is-6-on-lg">
					{{> forms/weirdos.html}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h2>Time</h2>
				</div>
			</div>

			<div class="row">
				<div class="col is-6-on-lg">
					<pre><code class="html">{{> forms/time.html}}</code></pre>
				</div>
				<div class="col is-6-on-lg">
					{{> forms/time.html}}
				</div>
			</div>
		</div>
	</section>
</main>

{{> partials/footer.html}}
