{{> partials/header.html}}

<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Funke Grid!</h1>
					<p>An awesome framework by Henrik and Pontus</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Grid</h2>
					<p>Awesome grid.</p>
					<h3>Columns</h3>
					<div class="row">
						<div class="col is-12-on-xs is-6-on-md">
							<div class="row is-nested">
								{{> grid/columns.html}}
							</div>
						</div>
						<div class="col is-12-on-xs is-6-on-md">
							<figure>
								<pre><code class="html"><div class="row">
{{> grid/columns.html}}

</div></code></pre>
							</figure>
						</div>
					</div>
					<h3>Column sizing</h3>
					<div class="row">
						<div class="col is-12-on-xs is-6-on-md">
							<div class="row is-nested">
								{{> grid/sizing.html}}
							</div>
						</div>
						<div class="col is-12-on-xs is-6-on-md">
							<figure>
								<pre><code class="html"><div class="row">
{{> grid/sizing.html}}

</div></code></pre>
							</figure>
						</div>
					</div>
					<h3>Responsive sizing</h3>
					<div class="row">
						<div class="col is-12-on-xs is-6-on-md">
							<div class="row is-nested">
								{{> grid/responsive.html}}
							</div>
						</div>
						<div class="col is-12-on-xs is-6-on-md">
							<figure>
								<pre><code class="html"><div class="row">
{{> grid/responsive.html}}

</div></code></pre>
							</figure>
						</div>
					</div>
					<h3>Offeset</h3>
					<div class="row">
						<div class="col is-12-on-xs is-6-on-md">
							<div class="row is-nested">
								{{> grid/offset.html}}
							</div>
						</div>
						<div class="col is-12-on-xs is-6-on-md">
							<figure>
								<pre><code class="html"><div class="row">
{{> grid/offset.html}}

</div></code></pre>
							</figure>
						</div>
					</div>
					<h3>Nesting</h3>
					<div class="row">
						<div class="col is-12-on-xs is-6-on-md">
							<div class="row is-nested">
								{{> grid/nested.html}}
							</div>
						</div>
						<div class="col is-12-on-xs is-6-on-md">
							<figure>
								<pre><code class="html"><div class="row">
{{> grid/nested.html}}

</div></code></pre>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{{> partials/footer.html}}
