{{> partials/header.html}}

<main>
	<section class="hero-section">
		<div class="hp-back"></div>
		<div class="hp-back under"></div>
		<div class="container hp-cont">
			<div>
				<img src="../images/happy_logo_stacked_white_1@2x.png">
			</div>
			<div>
				<p>
					An awesome framework by <strong>Henrik</strong> and <strong>Pontus</strong>
				</p>
				<p>
					We believe that Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				<button class="primary hero">
					Go to docs
				</button>
			</div>
		</div>
	</section>
</main>

{{> partials/footer.html}}
