{{> partials/header.html}}

<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Funke Layout!</h1>
					<p>An awesome framework by Henrik and Pontus</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Layout</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col bg-blue">
					<p>Container</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<figure>
					<pre><code class="html"><div class="container">
	...
</div></code></pre>
				</figure>
			</div>
		</div>
		<div class="container is-fullwidth">
			<div class="row">
				<div class="col bg-light-blue">
					<p>Full width container with 1rem padding on right and left.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<figure>
					<pre><code class="html"><div class="container is-fullwidth">
	...
</div></code></pre>
				</figure>
			</div>
		</div>
		<div class="container is-fullwidth no-gutter">
			<div class="row">
				<div class="col bg-light-blue-2">
					<p>Full width container with no gutters.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 col-sm-6">
				<figure>
					<pre><code class="html"><div class="container is-fullwidth no-gutter">
	...
</div></code></pre>
				</figure>
			</div>
		</div>
	</section>
</main>

{{> partials/footer.html}}
